.playlists-heading {
  margin: 1rem 0;

  .playlist-heading {
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
  }

  .new-playlist-button {
    display: block;
    margin: 1rem auto;
    background-color: #329e53;
    color: #fff;
    letter-spacing: 2px;
    padding: 1rem;
    width: 10rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    outline: none;
    transition: background-color 0.7s;

    &:hover {
      background-color: #2ebd59;
    }
  }
}

.playlists {
  width: 100%;
}