input.update-input {
  display: block;
  margin: 1rem auto;
  height: 3rem;
  width: 100%;
  font-size: 1.2rem;
  background: #1f1f1f;
  border: none;
  color: white;
  padding: 0 1.2rem;
  outline: none;
}